body {
    margin: 0px;
    padding: 0px;
}

:root {
    --fuente1: 'Concert One', cursive;
    --fuente2: 'Oswald', sans-serif;
}

.header {
    width: 100%;
    height: 100px;
    background-color:rgb(243, 107, 107);
    display: flex;
    justify-content: space-between;
}

.header__title{
    font-size: 55px;
    margin: 15px;
    color:rgb(255, 255, 255);
    font-family: var(--fuente1);
}

.header__menu{
    list-style: none;
    display: flex;
}

.header__menu__container {
    margin-right: 20px;
}

.header__menu li {
    margin: 15px;
}

.header__menu a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 25px;
    font-family: var(--fuente2);
}

.header__menu a:hover {
    color: rgb(255, 250, 250);
    transition: 400ms;
}

.main {
    background-color:white;
    width: 100%;
    height: 781px;
    display: flex;
    justify-content: center;
}

.main__title {
    color:lightseagreen;
    font-size: 70px;
    font-family: var(--fuente1);
    margin-top: 170px;
    text-align: center;
}

.main__container p {
    color:lightseagreen;
    font-size: 35px;
    font-family: var(--fuente2);
    text-align: center;
}

.main__button {
        background-color: rgb(243, 107, 107); 
        width: 300px;
        margin-left: 70px;
        margin-top: 70px;
        border: 0px;
        border-radius: 50px;
        height: 55px;
        cursor: pointer;
        outline: none;
}

.main__button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: var(--fuente2);
}

.main__button:hover {
    background-color:lightseagreen;
    width:  350px;
    margin-left: 50px;
    transition: 500ms;

}
.main__button  a:hover {
    color: lightseagreen;
}

/* intro */
.intro {
    background-color: rgb(255, 255, 255);
  
}

.blog {
    margin:  90px  30% ;
    background-color: rgb(255, 255, 255);
    font-size: var(--fuente1);
}

.container {
    color: rgb(243, 107, 107);
    text-align: center;
    font-size: 30px;
    font-family: var(--fuente1);
}

.container2 {
    color: lightseagreen;
    text-align: center;
    font-size: 20px;
    font-family: var(--fuente2);
}
.container3 {
color: rgb(243, 107, 107);
text-align: center;
font-size: 40px;
font-family: var(--fuente1);
}
